.app_dark_theme {
  --bg-color: #b9b9ff;
  --inverted-bg-color: #b9b5b5;
  --primary-color: #00a200;
  --secondary-color: green;
  --inverted-primary-color: #0000ef;
  --inverted-secondary-color: #0058fc;
}
